body {

    color: white;
    background: url('../img/bg.jpg') center no-repeat; /* Do not repeat the image */

    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: KacstArt;
}